.lines
  max-width 1000px
  position relative
  float left
  .line
    float left
    position relative
    width 142px
    height 175px
    overflow hidden
    .horizontal-extent
      position absolute
      top 34px
      left 37px
      bottom 47px
      width 190px
      border-left 1px solid #d3
    h3
      white-space nowrap
      position absolute
      top 0px
      left 37px
      margin-top 0px
      padding-left 1px
      border-left 1px solid rgba(255,255,255,0.9)
      padding-bottom 10px
      z-index 3
    svg
      position absolute
      bottom 0px
      path
        fill none
        stroke ColorBlue
        stroke-width 1.5px
        &.specific
          stroke ColorRed
          opacity 0
          transition opacity 0.2s
      circle
        fill ColorBlue
        stroke-width 1px
        &.significant
        &.active
          fill ColorBlue
      g.axis
        line.full-extent
          stroke #d3
          shape-rendering crispEdges
        line.extent
        line.mark
          stroke lighten(desaturate(ColorBlue, 40%), 40%)
          shape-rendering crispEdges
          &.significant
            stroke ColorBlue
            stroke-width 2
        text
          font-size 11px
          fill darken(ColorBlue, 50%)
      &.active
        path.specific
          opacity 0.5
      &.specific
        path
          stroke ColorRed
        circle
          fill ColorRed
        g.axis
          line.extent
          line.mark
            stroke lighten(desaturate(ColorRed, 40%), 40%)
          text
            fill darken(ColorRed, 50%)
        g.active-lines line.active
          stroke lighten(desaturate(ColorRed, 40%), 40%)
  .col.no-heading
    h3
    h4
      display none
    h5
      margin-top 20px
  g.active-lines line.active
    shape-rendering crispEdges
    stroke lighten(desaturate(ColorBlue, 40%), 40%)
  g.interaction rect
    fill transparent
  svg
    circle.significant
    g.axis text.significant
    g.axis line.mark
      transition fill 0.2s, opacity 0.2s
    text.active-text
      opacity 0
  svg.active
    g.axis
      text.significant
      line.mark
        opacity 0
    text.active-text.active
      opacity 1
  .last-words
    position absolute
    top 1789px
    left 264px
    width 644px
