@import colors
@import prefixes
@import 'components/triangle'
@import fitter

#article .ig
  @import basics
#article .ig.multi-line
  @import Lines
#article .ig.multi-line
  float left
  margin-top 20px
  margin-bottom 20px
  &.studenti-na-ucitele
    margin-left 144px
  > h3
    margin-left 39px
  .line h3
    font-weight 500
    font-size 14px


#article .ig.single-line
  @import LineChart

#article .ig.single-line
  margin 20px 0px 20px 250px
  float left
  h3
    float left
    margin-left 72px
    margin-bottom 15px
    span
      position relative
      &:after
        position absolute
        bottom -4px
        left 0px
        width 100%
        height 3px
        content ""
    span:first-of-type
      color ColorBlue
      border-bottom 1px solid ColorBlue
      &:after
        background lighten(ColorBlue, 90%)
    span:last-of-type
      color ColorRed
      border-bottom 1px solid ColorRed
      &:after
        background lighten(ColorRed, 90%)
  &.prijati
    .axis.x g.extent:nth-child(2)
      text
        opacity 0
    .axis.y
      g.extent:nth-child(1) g.tick:nth-child(1)
      g.extent:nth-child(2) g.tick:nth-last-child(1)
        text
          opacity 0
  &.maturanti
    .axis.x g.extent:nth-child(1)
      text
        opacity 0
    .axis.y g.extent:nth-child(1) g.tick:nth-child(1)
      text
        opacity 0
    g.line:nth-child(1)
      circle
        opacity 0
#article .ig.single-line.prijati
  position relative
  .shade
    position absolute
    top 0px
    bottom 29px
    right 0px
    left 50px
    background rgba(255,255,255,0.9)
    pointer-events none

#article .ig.bar.dotace
  position relative
  float left
  width 1000px
  height 400px
  margin-top 40px
  margin-bottom 50px
  .year
    float left
    height 100%
    width (100% / 14)
    position relative
    .bar-container
      position absolute
      top 0px
      width 100%
      bottom 55px
      border-bottom 1px solid #c
      .bar
        position absolute
        bottom 0px
        width 100%
        width 30%
        border-top-left-radius 2px
        border-top-right-radius 2px
        .label
          white-space nowrap
          transform rotate(90deg)
          transform-origin 0px 50%
          color white
          position absolute
          font-weight 700
          top 0px
          left 10px
          transition color 0.2s
        &.studenti
          background ColorRed
          left 15%
          .label
            color rgba(white, 0.5)
        &.penize
          left 55%
          background ColorBlue
          .label
            color rgba(white, 0.5)
    .label.label-year
      position absolute
      bottom 25px
      left 0px
      width 100%
      text-align center
      font-weight 500

    .label.label-ratio
      position absolute
      bottom 0px
      left 0%
      transform translate(-50%, 0)
      width 100%
      font-weight 500
      white-space nowrap
      opacity 0
      transition opacity 0.2s
    &:hover
      .bar-container .bar .label
        color rgba(white, 0.9)
      .label.label-ratio
        opacity 1
#article .ig.bar.dotace.dotace-1
  .year:nth-child(10) ~ .year
    opacity 0.2
    transition opacity 0.2s
    &:hover
      opacity 1

#article .ig.bar.dotace + p
  margin 0px
  width 100%
#article .ig.table
  float left
  margin 10px 0px 26px 316px
  table
    border-collapse collapse
    border-bottom 1px solid ColorRed
    th
    td
      padding 3px 8px
    th
      background ColorRed
      color white
      font-weight 500
      text-align left
    td:first-child ~ td
      text-align right
    tr:nth-child(2n)
      background #f6

#article .readmore
  float left
  width 100%
  position relative
  width 200px
  > div
    position absolute
    border-top 4px solid #e
    border-bottom 4px solid #d
    border-left 1px solid #d
    border-right 1px solid #d
    border-radius 10px
    padding 10px 10px
    background #fe
    top -11px
  h2
    font-size 16px
    margin-top 0px
    margin-bottom 6px
    a
      color ColorRed
      &:hover
        text-decoration none
  p
    a
      text-decoration underline
      &:hover
        text-decoration none
